{% extends "base.html" %}

{% block title %}
    Speed Icons - Forgot Password
{% endblock %}

{% block main %}
    <section class="main-home forgot container mt-5 p-0 mx-auto ">

            <form action="/forgot" method="post" class="h-100 w-100">

                <div class="h-100 d-flex flex-column align-items-center justify-content-evenly">
                    <div>
                        <h2 class="text-capitalize forgot-header">forgot password</h2>
                    </div>
                    <div class="form-floating form-forgot">
                        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" name="email">
                        <label for="floatingInput">Email address</label>
                    </div>
                    <div class="form-floating form-forgot ">
                        <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password">
                        <label for="floatingPassword">Password</label>
                    </div>
                    <div class="form-floating form-forgot">
                        <input type="password" class="form-control" id="floatingConfirm" placeholder="Confirm Password" name="confirm">
                        <label for="floatingConfirm">Confirm Password</label>
                    </div>
                    <button type="submit" class="btn-forgot mx-auto">Submit</button>
                </div>  
            </form>
    </section>
{% endblock %}